<!--
This is the Catalogue Module for the DTOceanPlus suite of Tools.
This module manages common Catalogues for DTOceanPlus modules.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div id="app" class="all-wrapper">
      <TheHeader />
        <el-container>
          <el-main class="app__main">
            <router-view />
          </el-main>
      </el-container>
      <TheFooter />
  </div>
</template>

<script>
import TheHeader from "@/components/TheHeader";
import TheFooter from "@/components/TheFooter";

export default {
  name: "App",
  data() {
    return {
    };
  },
  components: {
      TheHeader,
    TheFooter,
  },
  computed: {
  
  },
  methods: {},
  async mounted() {},
  watch: {},
};
</script>


<style lang="scss" scope>
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  // font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  height: 100%;
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#app {
  height: 100%;
}
.app__container {
  min-height: 100vh;

  &--bg {
    // background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.all-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

#authModulePlacement {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.loader {
  opacity: 0.5 !important;
  background: transparent !important;
}

#userPanelModulePlacement {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #ccc;
}

.all-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.bg {
  border-radius: 4px;
  background: #ffffff;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.main__image {
  width: 128px;
  margin: 0 auto 36px auto;
  display: block;
}
.main__list {
}
.main__list-item {
  font-size: 14px;
  line-height: 1;

  &:not(:last-child) {
    margin: 0 0 12px 0;
  }
}
.main__list-link {
  color: #000;
  text-decoration: underline !important;
}
.main__list-link-description {
  margin: 8px 0 0 0;
}



.el-select {
    width: 100%!important;
}
</style>
