<!--
This is the Catalogue Module for the DTOceanPlus suite of Tools.
This module manages common Catalogues for DTOceanPlus modules.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <div class="catalog-header">
      <div class="catalog-header__collapse">
        <el-collapse>
          <el-collapse-item
            class="el-collapse-item"
            v-if="tableAttr"
            title="Show/Hide Columns"
            name="columns"
            data-cy-cm="collapsItem"
          >
            <el-row>
              <el-col :span="4" v-for="item in tableAttr" :key="item.name">
                <div class="switch-wrapper">
                  <p class="switch-wrapper__label">{{ item.name }}</p>
                  <el-switch
                    v-model="item.show"
                    active-color="#13ce66"
                    inactive-color="#ff4949"
                    @change="resetColFilter(item.name)"
                    data-cy-cm="switchShowHideColumn"
                  >
                  </el-switch>
                </div>
              </el-col>
              <el-col :span="4" class="button-wrapper">
                <el-button
                  data-cy-cm="resetShowHideColumn"
                  :disabled="!tableAttr.find((item) => item.show == false)"
                  type="danger"
                  plain
                  @click="
                    resetAttr();
                  "
                  >Reset</el-button
                >
              </el-col>
            </el-row>
          </el-collapse-item>
        </el-collapse>
      </div>

      <div class="catalog-header__btn">
        <el-button type="success" @click="createEntityConfirm"
          >New value</el-button
        >
        <el-button @click="goBack" type="primary" icon="el-icon-arrow-left"
          >Back</el-button
        >
      </div>
    </div>

    <TableData
      :tableData="tableData"
      :tableHeader.sync="tableHeaderFiltred"
      :tableUnits="tableUnits"
      :loading="loading"
      :operationsWidth="300"
      @filterItemsChange="filterItems"
      @resetFilters="resetFilter"
      @orderItemsChange="sortTable"
    >
      <template v-slot:btns="{ props }">
        <div class="btns-wrapper">
          <el-button  data-cy-cm="btnSingleItem" @click="goToSingle(props)" type="success" size="mini">
            Open</el-button
          >
          <el-button
            type="primary"
            size="mini"
            @click="editEntityConfirm(props)"
          >
            Edit</el-button
          >
          <el-button type="warning" size="mini" @click="forkEntity(props)">
            Fork</el-button
          >
          <el-button
            type="danger"
            size="mini"
            @click="deleteEntityConfirm(props)"
          >
            Delete</el-button
          >
        </div>
      </template>
    </TableData>
    <div class="tableData-bottom">
      <el-pagination
        background
        layout="prev, pager, next"
        :total="tableParams.total"
        :page-size="params.page.limit"
        :current-page="tableParams.currentPage"
        @current-change="handleCurrentChange"
        data-cy-cm="pagination"
      >
      </el-pagination>

      <el-select
        data-cy-cm="selectPageLimit"
        @change="updateData()"
        v-model="params.page.limit"
        placeholder="Page size"
      >
        <el-option label="5" :value="5"> </el-option>
        <el-option label="20" :value="20"> </el-option>
        <el-option label="50" :value="50"> </el-option>
      </el-select>
    </div>

    <!-- create-edit-delete entity form -->
    <el-dialog
      :title="
        actionEntity == 'create'
          ? 'Create Value'
          : actionEntity == 'delete'
          ? 'Delete Value?'
          : 'Edit Value'
      "
      :visible.sync="creatingFormInUse"
      width="600px"
      :close-on-click-modal="false"
    >
      <template v-if="actionEntity == 'edit' || actionEntity == 'delete'">
        <el-alert
          class="forAlerts"
          title="Changes to catalog data can affect the consistency of the modules
that are using them."
          :closable="false"
          type="warning"
        ></el-alert>
      </template>
      <el-form
        class="el-form__wrapper"
        :model="entityForm"
        ref="entityForm"
        width="500px"
        v-if="actionEntity != 'delete'"
      >
        <el-form-item
          v-for="(value, name) in entityForm"
          :key="name"
          :prop="name"
          :rules="{
            validator: getValidType(name),
            trigger: 'change',
          }"
        >
          <div class="label-top">
            <el-tooltip
              v-if="tableUnits.length > 0"
              :content="showAttrForProp(tableUnits, name, 'description')"
              placement="top"
            >
              <i class="el-icon-info"></i>
            </el-tooltip>
            <el-tooltip v-else content="n/a" placement="top">
              <i class="el-icon-info"></i>
            </el-tooltip>
            <p>{{ name }}</p>
            <div>
              <span v-if="tableUnits.length > 0">{{
                showAttrForProp(tableUnits, name, "unit")
              }}</span>
              <span v-else>n/a</span>
            </div>
          </div>

          <el-input v-model="entityForm[name]" />
        </el-form-item>
        <div class="formButtons">
          <el-button @click="creatingFormInUse = false">Cancel</el-button>
          <el-button type="primary" @click="resetForm('entityForm')"
            >Reset</el-button
          >

          <el-button
            v-if="actionEntity === 'create'"
            type="success"
            :loading="loadingEntityBtn"
            @click="createEntitySubmit('entityForm')"
            >Create</el-button
          >
          <el-button
            v-if="actionEntity === 'edit'"
            type="success"
            :loading="loadingEntityBtn"
            @click="editEntitySubmit('entityForm')"
            >Edit</el-button
          >
        </div>
      </el-form>
      <div class="deleteBtn_wrap">
        <el-button
          v-if="actionEntity === 'delete'"
          type="danger"
          :loading="loadingEntityBtn"
          @click="deleteEntitySubmit()"
          >Delete</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import TableData from "@/components/TableData.vue";
import showAttrForProp from "@/api/showAttrForProp.js";

export default {
  name: "home",
  components: {
    TableData,
  },
  data() {
    return {
      path: `${process.env.VUE_APP_API_URL}/${this.$route.params.data}`,
      tableData: [],
      tableAttr: [],
      tableUnits: [],
      entityForm: {},
      type: "",
      params: {
        page: {
          offset: 0,
          limit: 10,
        },
        sort: "",
        filter: {
        },
      },
      tableParams: {
        total: 0,
        currentPage: 1,
      },
      tableUrl: this.$route.params.data,
      loading: false,
      creatingFormInUse: false,
      loadingEntityBtn: false,
      actionEntity: "create",
      editingEntityId: null,
      validationRules: {},
      deletingEntityId: null,
      paramsUnits: {
        filter: {
          table_name: this.$route.params.data,
        },
      },
    };
  },
  computed: {
    tableHeaderFiltred: function () {
      return this.tableAttr.filter((el) => el.show);
    },
  },
  async mounted() {
    this.tableUnits = await this.getTableUnits();
    this.getTableData();
    this.prepareProps();
  },
  methods: {
    showAttrForProp: showAttrForProp,
    async getTableUnits() {
      return (await axios.get(`${process.env.VUE_APP_API_URL}/desc_units`, {
        params: this.paramsUnits,
        paramsSerializer: (params) => {
          return this.serialize(params);
        },
      })).data.data;
    },
    goBack() {
      this.$router.push({ name: "HomePage" });
    },
    integer(rule, value, callback) {
      setTimeout(() => {
        if (isNaN(value) || Number(value) % 1 != 0) {
          callback(new Error("Please input integer value"));
        } else {
          callback();
        }
      }, 10);
    },
    number(rule, value, callback) {
      setTimeout(() => {
        if (isNaN(value)) {
          callback(new Error("Please input number"));
        } else {
          callback();
        }
      }, 10);
    },
    string(rule, value, callback) {
      setTimeout(() => {
        callback();
      }, 10);
    },
    getValidType(name) {
      if (typeof this.validationRules[name] !== "undefined") {
        if (this.validationRules[name].type == "integer") {
          return this.integer;
        } else if (this.validationRules[name].type == "number") {
          return this.number;
        } else if (this.validationRules[name].type == "string") {
          return this.string;
        }
      }
    },
    getValidationRules() {
      axios
        .get(`${process.env.VUE_APP_API_URL}/swagger.json`)
        .then(
          (resp) =>
            (this.validationRules =
              resp.data.definitions[`${this.type}_get`].properties)
        );
    },
    handleCurrentChange(val) {
      this.params.page.offset = (val - 1) * this.params.page.limit;
      this.getTableData();
    },
    getTableData() {
      this.loading = true;
      axios
        .get(this.path, {
          params: this.params,
          paramsSerializer: (params) => {
            return this.serialize(params);
          },
        })
        .then((response) => {
          this.tableData = [];
          response.data.data.forEach((el) => {
            this.tableData.push(el.attributes);
          });
          this.tableParams.total = response.data.meta.count;
          this.loading = false;
        })
        .catch(() => {});
    },
    resetColFilter(col) {
      this.tableAttr.forEach((item) => {
        if (item.name === col) item.filter = "";
      });
      this.filterItems();
    },
    prepareProps() {
      this.tableAttr = [];
      this.loading = true;

      axios
        .get(this.path)
        .then((response) => {
          for (var key in response.data.data[0].attributes) {
            this.tableAttr.push({ name: key, show: true, filter: "" });
            if (key != "id") this.$set(this.entityForm, key, null);
          }
          this.type = response.data.data[0].type;
          this.getValidationRules();
          this.loading = false;
        })
        .catch(() => {});
    },
    goToSingle(row) {
      if (row.id) {
        this.$router.push({
          path: `/catalog/${this.tableUrl}/${row.id}/view`,
        });
      }
    },
    serialize(obj, prefix) {
      var str = [],
        p;
      for (p in obj) {
        if (obj.hasOwnProperty(p) && obj[p] !== "") {
          var k = prefix ? prefix + "[" + p + "]" : p,
            v = obj[p];
          str.push(
            v !== null && typeof v === "object"
              ? this.serialize(v, k)
              : encodeURIComponent(k) + "=" + encodeURIComponent(v)
          );
        }
      }
      return str.join("&");
    },
    changePage() {},
    updateData() {
      this.resetOffset();
      this.getTableData();
    },
    resetOffset() {
      this.params.page.offset = 0;
      this.tableParams.currentPage = 1;
    },
    resetAttr() {
      this.tableAttr.forEach((item) => (item.show = true));
    },
    resetFilter() {
      this.tableHeaderFiltred.forEach((item) => (item.filter = ""));
      this.filterItems();
    },
    resetColFilter(col) {
      this.tableAttr.forEach((item) => {
        if (item.name === col) item.filter = "";
      });
      this.filterItems();
    },
    filterItems() {
      this.params.filter = {};
      this.tableHeaderFiltred.forEach(
        (item) => (this.params.filter[item.name] = item.filter)
      );
      this.updateData();
    },
    sortTable({ prop, order }) {
      this.params.sort =
        order === null ? "" : order === `descending` ? `-${prop}` : prop;
      this.updateData();
    },
    resetForm() {
      Object.keys(this.entityForm).forEach((key) => {
        this.$set(this.entityForm, key, null);
      });
    },
    createEntityConfirm() {
      this.creatingFormInUse = true;
      this.actionEntity = "create";
      this.resetForm();
    },
    async createEntitySubmit(formName) {
      const valid = await this.$refs[formName].validate();
      if (valid) {
        this.loadingEntityBtn = true;
        try {
          const newEntity = await this.createEntity();
          this.$notify({
            title: "Success",
            message: "Value was created.",
            type: "success",
          });
          this.getTableData();
          this.resetForm(formName);
          this.creatingFormInUse = false;
        } catch (error) {
          if (error) {
            this.$notify({
              title: "error",
              message: error.response.data.errors[0].detail,
              type: "error",
            });
          }
        } finally {
          this.loadingEntityBtn = false;
        }
      } else {
        return false;
      }
    },
    async createEntity() {
      return axios.post(
        `${process.env.VUE_APP_API_URL}/${this.$route.params.data}`,
        {
          data: {
            attributes: this.entityForm,
            type: this.type,
          },
        }
      );
    },
    async deleteEntity(entityId) {
      return axios.delete(
        `${process.env.VUE_APP_API_URL}/${this.$route.params.data}/${entityId}`
      );
    },
    deleteEntityConfirm(props) {
      this.creatingFormInUse = true;
      this.actionEntity = "delete";
      this.deletingEntityId = props.id;
    },
    async deleteEntitySubmit() {
      this.loadingEntityBtn = true;
      try {
        const data = await this.deleteEntity(this.deletingEntityId);
        this.$notify({
          title: "Success",
          message: "Value was deleted.",
          type: "success",
        });
        this.creatingFormInUse = false;
        this.getTableData();
      } catch (error) {
        if (error) {
          this.$notify({
            title: "error",
            message: error.response.data.errors[0].detail,
            type: "error",
          });
        }
      } finally {
        this.loadingEntityBtn = false;
      }
    },
    forkEntity(props) {
      this.creatingFormInUse = true;
      this.actionEntity = "create";
      this.resetForm();
      for (let prop in props) {
        this.$set(this.entityForm, prop, props[prop]);
      }
    },
    editEntityConfirm(props) {
      this.creatingFormInUse = true;
      this.actionEntity = "edit";
      this.editingEntityId = props.id;
      delete props.id;
      for (let prop in props) {
        this.$set(this.entityForm, prop, props[prop]);
      }
    },
    async editEntitySubmit() {
      this.loadingEntityBtn = true;
      try {
        const data = await this.editEntity();
        this.$notify({
          title: "Success",
          message: "Value was edited.",
          type: "success",
        });
        this.getTableData();
        this.resetForm();
        this.creatingFormInUse = false;
      } catch (error) {
        if (error) {
          this.$notify({
            title: "error",
            message: error.response.data.errors[0].detail,
            type: "error",
          });
        }
      } finally {
        this.loadingEntityBtn = false;
      }
    },
    async editEntity() {
      return axios.patch(
        `${process.env.VUE_APP_API_URL}/${this.$route.params.data}/${this.editingEntityId}`,
        {
          data: {
            attributes: this.entityForm,
            id: this.editingEntityId,
            type: this.type,
          },
        }
      );
    },
  },
};
</script>
<style scoped>
.label-top {
  display: flex;
  align-items: center;
}
.label-top p {
  margin: 0 7px 0 4px;
}
.el-dialog__body {
  padding-left: 40px !important;
  padding-right: 40px;
}
.catalog-header {
  display: flex;
  align-items: flex-start;
}
.catalog-header__collapse {
  width: 100%;
  margin-right: 20px;
}
.catalog-header__btn {
  flex-shrink: 0;
}
.btns-wrapper {
  display: flex;
  justify-content: center;
  margin-left: -20px;
}
.button-wrapper {
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  justify-content: flex-start;
}
.btns-wrapper .el-button {
  margin: 0 5px;
}
.formButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.deleteBtn_wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 22px;
}
.forAlerts {
  margin-bottom: 25px;
  white-space: pre;
}
</style>