<!--
This is the Catalogue Module for the DTOceanPlus suite of Tools.
This module manages common Catalogues for DTOceanPlus modules.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <h1 class="h1-title">Catalogs</h1>
    <el-input
      placeholder="Filter by catalogs"
      v-model="filterText"
      data-cy-cm="inputFilterCatalogs"
    >
    </el-input>

    <el-tree
      class="filter-tree"
      :data="data"
      node-key="id"
      :filter-node-method="filterNode"
      @node-click="click"
      ref="tree"
    >
    </el-tree>
  </div>
</template>

<script>
export default {
  name: "home",
  components: {
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    },
  },
  data() {
    return {
      filterText: "",
      data: [
        {
          id: 1,
          label: "Electrical network equipment (ED)",
          children: [
            {
              id: 2,
              label: "Collection Point",
            },
            {
              id: 3,
              label: "Dry Mate",
            },
            {
              id: 4,
              label: "Dynamic Cable",
            },
            {
              id: 5,
              label: "Static Cable",
            },
            {
              id: 7,
              label: "Transformer",
            },
            {
              id: 8,
              label: "Wet Mate",
            },
          ],
        },
        {
          id: 9,
          label: "Operations infrastructures and equipment (LMO)",
          children: [
            {
              id: 10,
              label: "Activities",
            },
            {
              id: 11,
              label: "Speeds",
            },
            {
              id: 12,
              label: "Operations Inst",
            },
            {
              id: 13,
              label: "Operations Main",
            },
            {
              id: 15,
              label: "Equipment Rov",
            },
            {
              id: 16,
              label: "Equipment Divers",
            },
            {
              id: 17,
              label: "Equipment Burial",
            },
            {
              id: 18,
              label: "Equipment Protection",
            },
            {
              id: 19,
              label: "Equipment Piling",
            },
            {
              id: 20,
              label: "Terminals",
            },
            {
              id: 21,
              label: "Vecs",
            },
            {
              id: 24,
              label: "Vessels",
            },
          ],
        },
        {
          id: 25,
          label: "Power take off components (ET)",
          children: [
            {
              id: 26,
              label: "Mecht Air Turbine",
            },
            {
              id: 27,
              label: "Mecht Hydraulic",
            },
            {
              id: 28,
              label: "Mecht Gearbox",
            },
            {
              id: 29,
              label: "Electt Scig",
            },
            {
              id: 30,
              label: "Gridc Power Converter",
            },
            {
              id: 36,
              label: "control",
            },
          ],
        },
        {
          id: 31,
          label: "Mooring lines and anchors (SK)",
          children: [
            {
              id: 32,
              label: "Mooring Line",
            },
            {
              id: 33,
              label: "Drag Anchor",
            },
          ],
        },
        {
          id: 34,
          label: "Cost benchmark (SLC)",
          children: [
            {
              id: 35,
              label: "Benchmark",
            },
          ],
        },
      ],
    };
  },
  mounted() {},
  methods: {
    click(node, tree) {
      if (tree.level > 1) {
        var theLabelArray = tree.data.label.toLowerCase().split(" ");
        var theLabel = "";
        for (var i = 0; i < theLabelArray.length - 1; i++) {
          theLabel += theLabelArray[i]+ "_";
        }
        theLabel += theLabelArray[theLabelArray.length - 1];
        this.$router.push({
          path: `/catalog/${theLabel}`,
        });
      }
    },
    filterNode(value, data) {
      if (!value) return true;
      return data.label.toLowerCase().indexOf(value.toLowerCase()) !== -1;
    },
  },
};
</script>

<style>
.filter-tree {
  margin-top: 35px;
}
</style>
