:root {
	--color-dark-blue: #022c5f;
	--color-grey: #e2ebf0;
	--color-blue: #39d2ff;
}

body {
	background-color: var(--color-grey);
}
h1 {
	font-family: "Rajdhani", sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: var(--color-dark-blue);
	margin-top: 15px;
	margin-bottom: 15px;
}
.projectSingle-tabs {
	margin-top: 25px;
	.el-tabs__item {
		font-family: "Rajdhani", sans-serif !important;
		font-weight: bold !important;
		font-size: 24px !important;
		padding: 5px 20px;
		height: 50px;
		// margin-top: 15px !important;
		// margin-bottom: 20px !important;
	}
	.is-active {
		color: var(--color-dark-blue) !important;
	}
	.is-disabled {
		opacity: 0.3;
		cursor: not-allowed;
		font-weight: 200;
	}
}
h2 {
	font-family: "Rajdhani", sans-serif;
	font-weight: bold;
	font-size: 26px;
	color: var(--color-dark-blue);
	margin-top: 15px;
	margin-bottom: 15px;
}

h3 {
	font-family: "Rajdhani", sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: var(--color-dark-blue);
	margin-top: 15px;
	margin-bottom: 15px;
}

h4 {
	font-family: "Rajdhani", sans-serif;
	font-weight: bold;
	font-size: 22px;
	color: var(--color-dark-blue);
	margin-top: 15px;
	margin-bottom: 20px;
}

p {
	font-size: 16px;
	color: #000;
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	font-size: 16px;
}

.app__main {
	flex: 1 !important;
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
	padding-top: 30px;
}

.page-wrapper {
	padding: 20px;
}

.section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.el-drawer,
.el-drawer * {
	outline: none !important;
}
.el-collapse-item__header,
.el-collapse-item__content {
	padding-left: 15px;
	padding-right: 15px;
}
