<!--
This is the Catalogue Module for the DTOceanPlus suite of Tools.
This module manages common Catalogues for DTOceanPlus modules.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <el-card class="box-card">
    <div>
      <el-button @click="goBack" type="primary" icon="el-icon-arrow-left"
        >Back</el-button
      >
    </div>
    <ul v-if="$route.params.action == 'view'" class="cardSingle">
      <li v-for="(value, name) in cardData" :key="name">
        <p>
          <el-tooltip
            v-if="tableUnits.length > 0"
            :content="showAttrForProp(tableUnits, name, 'description')"
            placement="top"
          >
            <i class="el-icon-info"></i>
          </el-tooltip>
          <el-tooltip v-else content="n/a" placement="top">
            <i class="el-icon-info"></i>
          </el-tooltip>
          <b>{{ name }}:</b>
          <span v-if="tableUnits.length > 0">{{
            showAttrForProp(tableUnits, name, "unit")
          }}</span>
          <span v-else>n/a</span>
        </p>
        <span>{{ value ? value : "-" }}</span>
      </li>
    </ul>
  </el-card>
</template>
<script>
import showAttrForProp from "@/api/showAttrForProp.js";
import getTableUnits from "@/api/getTableUnits.js";
import getSingleCatalog from "@/api/getSingleCatalog.js";

export default {
  name: "Catalog",
  data: function () {
    return {
      cardData: "",
      tableUrl: this.$route.params.data,
      tableUnits: [],
    };
  },
  async mounted() {
    this.tableUnits = await getTableUnits(this.paramsUnits);
    this.cardData = await getSingleCatalog(
      `${process.env.VUE_APP_API_URL}/${this.tableUrl}/${this.$route.params.id}`
    );
  },
  computed: {},
  methods: {
    showAttrForProp: showAttrForProp,
    goBack() {
      this.$router.push({ path: `/catalog/${this.tableUrl}` });
    },
  },
};
</script>

<style>
.box-card li {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
  transition: all 0.2s;
  padding: 10px;
}
.box-card li:first-child {
  margin-top: 15px;
}
.box-card li:hover {
  background-color: #f4f7fa;
}
.box-card b {
  font-weight: bold;
  color: #022c5f;
  margin: 0 7px 0 4px;
}
.cardSingle {
  line-height: 25px;
  list-style-type: none;
}
.cardSingle li {
  text-align: left;
}
</style>