<!--
This is the Catalogue Module for the DTOceanPlus suite of Tools.
This module manages common Catalogues for DTOceanPlus modules.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div :class="{ hiddenSort: !operations }">
    <el-table
      v-loading="loading"
      :data="tableData"
      style="width: 100%"
      @sort-change="changeOrderItems"
    >
      <el-table-column
        :min-width="230"
        v-for="item in prepareTableHeader"
        :key="item.name"
        sortable="custom"
        :prop="item.name"
        :filters="[]"
        data-cy-cm="tableColumn"
      >
        <template slot-scope="scope" slot="header">
          <div class="header-title">
            <div class="cell-label" data-cy-cm="labelColumn">
              {{ getHumanString(scope.column.property) }}
            </div>
            <el-tooltip
              class="header-title__info"
              v-if="tableUnits.length > 0"
              :content="
                showAttrForProp(
                  tableUnits,
                  scope.column.property,
                  'description'
                )
              "
              placement="top"
            >
              <i class="el-icon-info"></i>
            </el-tooltip>
            <el-tooltip
              class="header-title__info"
              v-else
              content="n/a"
              placement="top"
            >
              <i class="el-icon-info"></i>
            </el-tooltip>
          </div>
          <div class="header-title__unit">
            <span v-if="tableUnits.length > 0">{{
              showAttrForProp(tableUnits, scope.column.property, "unit")
            }}</span>
            <span v-else>n/a</span>
          </div>
          <el-input
            v-if="operations"
            v-model="item.filter"
            size="mini"
            :placeholder="item.name"
            data-cy-cm="inputFilterItems"
          />
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        label="Operations"
        :width="operationsWidth"
        v-if="operations"
      >
        <template slot="header">
          <div class="el-table__operations">Operations</div>
          <div class="button-wrapper">
            <el-button
              @click="updateFilterItems"
              size="mini"
              type="success"
              data-cy-cm="submitFilters"
              >Filter</el-button
            >
            <el-button
              @click.native.prevent="resetFilterItems"
              data-cy-cm="resetFilters"
              type="danger"
              size="mini"
              plain
              >Reset</el-button
            >
          </div>
        </template>
        <template slot-scope="scope" v-if="scope.row">
          <slot name="btns" :props="scope.row"></slot>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
/* eslint-disable */
import showAttrForProp from "@/api/showAttrForProp.js";

export default {
  props: {
    loading: {
      type: Boolean,
      required: false,
      default: false,
    },
    operations: {
      type: Boolean,
      required: false,
      default: true,
    },
    tableData: {
      type: Array,
      required: false,
    },
    tableHeader: {
      type: Array,
      required: false,
    },
    tableUnits: {
      type: Array,
      required: false,
    },
    operationsWidth: {
      type: Number,
      required: false,
      default: 200,
    },
  },
  data() {
    return {
      namedSlotText: "text",
      itemsPerPageSelect: this.itemsPerPage,
      filters: {},
      defaultSort: {
        prop: "",
        order: "",
      },
    };
  },
  name: "TableData",
  methods: {
    showAttrForProp: showAttrForProp,
    getHumanString(str) {
      var tempStr = str.toLowerCase();
      if (tempStr == "createdat") return "Created";
      else {
        var splitStr = str.toLowerCase().split("_");
        for (var i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      }
    },

    updateFilterItems() {
      this.$emit("update:tableHader");
      this.$emit("filterItemsChange");
    },
    changeOrderItems({ prop, order }) {
      this.$emit("orderItemsChange", { prop, order });
    },
    resetFilterItems() {
      this.$emit("resetFilters");
    },
  },
  mounted() {
    let obj = {};
    for (let val in this.filterItems) {
      obj[val] = this.filterItems[val];
    }
    this.filters = obj;
  },
  computed: {
    prepareTableHeader: function () {
      if (this.tableHeader.some((field) => field.name.toLowerCase() === "id")) {
        var indexOfID = this.tableHeader.findIndex(
          (field) => field.name.toLowerCase() === "id"
        );
        this.tableHeader.splice(0, 0, this.tableHeader.splice(indexOfID, 1)[0]);
      }
      return this.tableHeader;
    },
  },
};
</script>

<style lang="scss">
.hiddenSort {
  .caret-wrapper {
    display: none !important;
  }
}
.el-table thead tr,
.el-table thead th {
  background: #f5f7fa;
}
.addNewItem {
  float: left;
  margin-bottom: 20px !important;
}
.hidden {
  display: none;
}
.switch-wrapper,
.filter-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 10px;
}
.el-collapse {
  margin-bottom: 25px;
}
.el-table th.is-sortable .cell {
  position: relative;
}

.el-table th.is-sortable .cell .caret-wrapper {
  position: absolute;
  right: 12px;
  top: 0;
}

.el-table th.is-sortable .cell .el-input {
  margin-top: 10px;
}

.el-table .sort-caret {
  border: 8px solid transparent !important;
}

.el-table .sort-caret.ascending {
  border-bottom-color: #c0c4cc !important;
  top: -2px !important;
}

.el-table .sort-caret.descending {
  border-top-color: #c0c4cc !important;
  bottom: 0px !important;
}

.el-table .ascending .sort-caret.ascending {
  border-bottom-color: #409eff !important;
}
.el-table .descending .sort-caret.descending {
  border-top-color: #409eff !important;
}
.bottom-block {
  margin-top: 25px;
}
.cell .el-table__column-filter-trigger {
  display: none;
}
.button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .el-button {
    margin: 0 5px;
  }
}
.ml {
  margin-left: -20px;
}
.el-table td .cell {
  padding-left: 30px !important;
}
.fixed-column {
  .cell {
    padding-left: 30px !important;
  }
}
.cell-label {
  padding-left: 18px !important;
}
.tableData-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  .el-select {
    max-width: 100px;
  }
}
.el-table__operations {
  text-align: center;
  padding-bottom: 10px;
}
.activeBtn {
  background: var(--color-dark-blue);
  border: 1px solid var(--color-dark-blue);
  span {
    color: #fff;
  }
  &:hover,
  &:focus {
    background: var(--color-dark-blue) !important;
    border: 1px solid var(--color-dark-blue) !important;
    span {
      color: #fff !important;
    }
  }
}
.header-title {
  position: relative;
  &__unit {
    padding-left: 19px;
    font-size: 12px;
  }
  &__info {
    position: absolute;
    top: 5px;
    left: 0;
  }
}
</style>
