<!--
This is the Catalogue Module for the DTOceanPlus suite of Tools.
This module manages common Catalogues for DTOceanPlus modules.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
    <el-footer>
        <p>DTOcean Plus 2020</p>
    </el-footer>
</template>

<script>
    export default {
    name: "TheFooter"
    };
</script>

<style lang="scss">
    footer{
        background-color: var(--color-dark-blue);
        p{
            color: #fff;
        }
    }
    .el-footer{
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
        p{
            font-size: 12px;
            margin-top:24px;
            text-align: center;
        }
    }
</style>
