<!--
This is the Catalogue Module for the DTOceanPlus suite of Tools.
This module manages common Catalogues for DTOceanPlus modules.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  
    <el-header>
      <div class="el-header__wrapper">
        <div class="el-header__logo">
          <router-link class="main__list-link" to="/" data-cy-mm="rootLink"
            ><img alt="Vue logo" src="../assets/dtoceanplus-fonduni-low.png"
          /></router-link>

          <!-- <a href="/"
            ><img alt="Vue logo" src="../assets/dtoceanplus-fonduni-low.png"
          /></a> -->
        </div>
        <TheMenu/>
      </div>
    </el-header>
    <!-- <TheBreadcrumbs /> -->
 
</template>

<script>
import TheMenu from "@/components/TheMenu";



export default {
  name: "TheHeader",
  components: {
    TheMenu,
    // TheBreadcrumbs,
  },
  data() {
    return {};
  },
  computed: {
    
  },
};
</script>

<style lang="scss">
.el-header {
  background-color: var(--color-dark-blue);
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  text-align: center;
  height: 60px!important;
  &__logo {
    img {
      width: 100%;
      max-width: 150px;
    }
  }
  img {
    max-height: 40px;
    margin-top: 10px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
</style>
