<!--
This is the Catalogue Module for the DTOceanPlus suite of Tools.
This module manages common Catalogues for DTOceanPlus modules.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="menu">
    <el-menu
      background-color="#022c5f"
      text-color="#ffffff"
      active-text-color="#39d2ff"
      default-active="0"
      class="el-menu-demo"
      mode="horizontal"
    >
      <!-- <el-menu-item index="0"
        ><router-link to="/dashboard">Dashboard</router-link></el-menu-item
      >-->
    </el-menu> 
      
  </div>
</template>

<script>

export default {
  data() {
    return {
      activeIndex: "1",
    };
  },
  computed: {
 
  },
  name: "TheMenu",
  methods: {
  
  },
};
</script>

<style lang="scss">
.el-menu {
  background-color: var(--color-dark-blue);

  &-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
  a {
    color: #fff !important;
    text-decoration: none !important;
  }
}
.el-submenu__title {
  color: #fff !important;
  font-size: 16px;
}
.el-menu-item * {
  vertical-align: unset;
  a {
    color: #fff !important;
    font-size: 16px;
  }
}
.el-menu.el-menu--horizontal {
  border: unset;
}
.is-active {
  // border-bottom: 2px solid var(--color-blue) !important;
  a {
    color: var(--color-blue) !important;
  }
}

.el-popover__wrap{
  display: inline-block;
    padding-top: 9px;
    cursor: pointer;
    outline: none !important;
}

.el-popover__card{
  
  ul{

    margin-bottom: 20px;
    b{
      font-weight: bold;
      font-size: 11px;
    }
  }
}
</style>
